
mixin text-field(inputType, labelClass, labelText, placehol, spanText)
  .text-field-item
    label.fieldName(class= labelClass)= labelText
        span= spanText
        input.text-field(type= inputType, placeholder= placehol)
      

