extends ../layout/main

block variables
  - var title = 'Blog page';

block content
  section
    .container
      +color('#145222', 'black', '1213')
      +color('#165222', 'white', '325')
      +color('#143222', 'green', '74574')