extends ../blocks/layout/main

block variables
  - var title = 'Меню Toxin';
  - var pageClass = 'index-page';

block content
  section
    .container
      a(href="pages/colors-type.html") Colors Type
      a(href="pages/form-elements.html ") Form Elements
      a(href="pages/form-elements.html ") Form Elements
      a(href="pages/form-elements.html ") Form Elements


block script