// include ../../utils/mixins

// Сделать шаблон для Uikit-а от этого места
doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Cards
  
  body
// Шаблон до сюда
    